@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-white: white;
  --color-black: black;

  --color-gray-light: #fafafa;
  --color-gray: #8b8b8b;

  --color-dark-light: #2b3743;
  --color-dark: #202d36;

}

body {
  background-color: var(--bg-color, var(--white-color));
}
